VUE_URL_API=http://localhost:3000
VUE_APP_BRAND_NAME=Izing Enterprise
VUE_APP_BRAND_DESCRIPTION=Plataforma multicanal SaaS
VUE_APP_BRAND_LOGO=/logo_izing.png
VUE_APP_BRAND_FAVICON_ICO=/favicon.ico
VUE_APP_BRAND_FAVICON_16=/icons/favicon-16x16.png
VUE_APP_BRAND_FAVICON_32=/icons/favicon-32x32.png
VUE_APP_BRAND_FAVICON_96=/icons/favicon-96x96.png
VUE_APP_BRAND_FAVICON_128=/icons/icon-128x128.png
